@model BTL_ASP_MVC.Models.Lop

@{
    ViewData["Title"] = "Edit Class";
}
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="lop_id" />
            <div class="form-group mb-3">
                <label asp-for="name" class="control-label">Name</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="giangvien_id" class="control-label">Teacher</label>
                <select asp-for="giangvien_id" class="form-control" asp-items="ViewBag.giangvien_id"></select>
                <span asp-validation-for="giangvien_id" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 mb-3">
                <div class="row align-items-center justify-content-between">
                    <div class="col"><input type="submit" value="Save" class="btn btn-primary" /></div>
                    <div class="col text-end">
                        <a asp-action="Index" class="btn btn-info">Back to List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
